<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" 	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/bower_components/GridColumnCarousel/dist/GridColumnCarousel.min.css}" rel="stylesheet">
<link th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet">
<link th:href="@{/css/escuelapp.css}" rel="stylesheet">
<link th:href="@{/css/layout.css}" rel="stylesheet">
<title>Header</title>
</head>

<body>
</body>

</html>