<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Navigation</title>
</head>

<body>
  <nav th:fragment="navigation">
	<div class="container-fluid banner_header">
		<div class="row ">

			<div class="col align-self-end columna"></div>
		</div>
	</div>
	<div class="container-fluid barra_iconos">
		<div class="row">
			<div class="col-3 col-sm-1 col-lg-2"> 
			    <div id="menu_responsive" class="m-1">
			      <button id="boton_menu">
			        <span class="linea"></span>
			        <span class="linea"></span>
			        <span class="linea"></span>
			      </button>
			    </div>
			    <!-- <a class="navbar-brand" href="Inicio.php"><i class="fas fa-home fa-2x grisHeader"></i></a>-->			
			</div>
			<div class="d-none d-sm-block col-sm-8"><span th:text="${user.username}"></span></div>
			<div class="col-9 col-sm-3 col-lg-2">
	            <ul class="nav justify-content-end" id="nav-iconos">
	                
	                <i id="time" name="time"></i>              
	                <li class="nav-item">
	                	<a class="nav-link" href="#" title="Solucionar Soporte" >
	                  <!--<img src="imagenes/iconos/Recurso 14.png?v=1"  title="Portal de soporte" >-->
	                  		<i class="fas fa-life-ring fa-2x grisHeader"></i> 
	                	</a>
	                </li>
	                <li class="nav-item dropdown">
	                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" title="Notificaciones" >
	                      <!--<img src="imagenes/iconos/Recurso 13.png?v=1"  title="notificaciones" /> -->
	                      <i class=" fas fa-envelope-open fa-2x grisHeader" ></i>
	                      <span class="badge notification" id="SP_Notificaciones"></span></a>
	                    <div class="dropdown-menu notificacionMenu dropdown-menu-right" id="UL_Notificaciones">
	                    </div> 
	                </li>

	                <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" title="Acciones de Usuario"><i class=" fas fa-user-circle fa-2x grisHeader"></i></i></a>
					    <div class="dropdown-menu dropdown-menu-right">
					      <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i>Perfil de Usuario</a>
					      <a class="dropdown-item" href="#"><i class="fab fa-youtube fa-fw"></i>Ayudas Audiovisuales</a>
					      <a class="dropdown-item" href="#"><i class="fas fa-key fa-fw"></i>Cambiar Contraseña</a>
					      <div class="dropdown-divider"></div>
					      <a class="dropdown-item" href="#"><i class="fas fa-key fa-fw"></i>Cerrar Sesión</a>
					    </div>							                   
	                </li>

	            </ul>			
			</div>
		</div>	
	</div>
	<div id="div_menu" class="col-md-2">
    	<ul class="nav flex-column" id="side-menu">
			<li class="nav-item active">
				<a aria-expanded="true" href='#' title='Módulo: Administración Aplicativo' class='nav-link eventoClic moduloMenu'> 			
					<i class='fas fas fa-cog'></i>
					Administración Aplicativo			<i class='fas fa-angle-right flota-der'></i>
				</a>
				<ul aria-expanded="true" class='nav flex-column nav-second-level'>
					<li class="nav-item">
						<a href='Administracion/Administrar_Actividades.php' title='Actividad: Administracion Actividades y Modulos' class='nav-link eventoClic actividadMenu'> 
							Administracion Actividades y Modulos							
						</a>
					</li>
					<li class="nav-item">
						<a href='Administracion/Administracion_Usuarios.php' title='Actividad: Administrar Usuarios' class='nav-link eventoClic actividadMenu'> 
							Administrar Usuarios							
						</a>
					</li>
				</ul>			
			</li> 
			<li class="nav-item" >
				<a aria-expanded="false" href='#' title='Módulo: Estudiantes' class='nav-link eventoClic moduloMenu'> 			
					<i class='fas fas fa-child'></i>
					Estudiantes			<i class='fas fa-angle-right flota-der'></i>
				</a>
				<ul aria-expanded="false" class='nav flex-column nav-second-level'>
					<li class="nav-item">
						<a href='Estudiante/AdministrarEstudiante.php' title='Actividad: Administrar Estudiante' class='nav-link eventoClic actividadMenu'> 
							Administrar Estudiante							
						</a>
					</li>
					<li class="nav-item">
						<a href='Territorial/Consulta_Individual_Estudiante.php' title='Actividad: Consultar Estudiantes' class='nav-link eventoClic actividadMenu'> 
							Consultar Estudiantes							
						</a>
					</li>
				</ul>				
			</li> 
			<li class="nav-item" >
				<a aria-expanded="false" href='#' title='Módulo: Componente Pedagógico' class='nav-link eventoClic moduloMenu'> 			
					<i class='fas fas fa-book'></i>
					Componente Pedagógico			<i class='fas fa-angle-right flota-der'></i>
				</a>
				<ul aria-expanded="false" class='nav flex-column nav-second-level'>
					<li class="nav-item">
						<a href='Pedagogico/Caracterizacion_Grupo.php' title='Actividad: Caracterización Grupos' class='nav-link eventoClic actividadMenu'> 
							Caracterización Grupos							
						</a>
					</li>
					<li class="nav-item">
						<a href='Pedagogico/Planeacion_Grupo.php' title='Actividad: Planeación Grupos' class='nav-link eventoClic actividadMenu'> 
							Planeación Grupos							
						</a>
					</li>
					<li class="nav-item">
						<a href='Pedagogico/Valoracion_Grupo.php' title='Actividad: Valoración Grupo' class='nav-link eventoClic actividadMenu'> 
							Valoración Grupo							
						</a>
					</li>
				</ul>				
			</li>  	
        </ul>
  	</div>	
  </nav>

</body>

</html>