
/*********** test ****************/



.banner_header {
    background: #2A3F54;
    height:70px;
}
.barra_iconos{
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    height:50px;	
}
.marco_principal{
	background: #F7F7F7;
	padding: 10px 20px 0;
	min-height: 70vh;
}
.contenido{
	background: #FFFFFF;
}