<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<h1>User enviado: <span th:text="${user.username}"></span> - <span th:text="${user.password}"></span> Vía Post</h1>
</body>
</html>