<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" 	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/bower_components/GridColumnCarousel/dist/GridColumnCarousel.min.css}" rel="stylesheet">
<link th:href="@{/css/escuelapp.css}" rel="stylesheet">
<link th:href="@{/css/layout.css}" rel="stylesheet">
<title>Dashboard Principal</title>
</head>
<body> 
	<nav class="navbar navbar-default">

		<div class="container-fluid banner_header">
			<div class="row ">
	
				<div class="col align-self-end columna"></div>
			</div>
		</div>
		<div class="container-fluid barra_iconos">
			<div class="row">
				<div class="col-sm-2">
				    <!-- <div id="menu_responsive">
				      <button id="boton_menu">
				        <span class="linea"></span>
				        <span class="linea"></span>
				        <span class="linea"></span>
				      </button>
				    </div>
				    <a class="navbar-brand" href="Inicio.php"><i class="fas fa-home fa-2x grisHeader"></i></a>-->			
				</div>
				<div class="col-sm-8"><span th:text="${user.username}"></span></div>
				<div class="col-sm-2">
		            <ul class="nav justify-content-end">
		                
		                <i id="time" name="time"></i>              
		                <li><a href="Administracion/Solicitud_Soporte2.php" target="ventana_iframe" title="Solucionar Soporte">
		                  <!--<img src="imagenes/iconos/Recurso 14.png?v=1"  title="Portal de soporte" >-->
		                  <i class="fas fa-life-ring fa-2x grisHeader"></i> 
		                </a></li>
		                <li class="dropdown">
		                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Notificaciones" >
		                      <!--<img src="imagenes/iconos/Recurso 13.png?v=1"  title="notificaciones" /> -->
		                      <i class=" fas fa-envelope-open fa-2x grisHeader" ></i>
		                      <span class="badge notification" id="SP_Notificaciones"></span></a>
		                    <div class="dropdown-menu notificacionMenu dropdown-menu-right" id="UL_Notificaciones">
		                    </div> 
		                </li>
	
		                <li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Acciones de Usuario"><i class=" fas fa-user-circle fa-2x grisHeader"></i></i></a>
						    <div class="dropdown-menu dropdown-menu-right">
						      <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i>Perfil de Usuario</a>
						      <a class="dropdown-item" href="#"><i class="fab fa-youtube fa-fw"></i>Ayudas Audiovisuales</a>
						      <a class="dropdown-item" href="#"><i class="fas fa-key fa-fw"></i>Cambiar Contraseña</a>
						      <div class="dropdown-divider"></div>
						      <a class="dropdown-item" href="#"><i class="fas fa-key fa-fw"></i>Cerrar Sesión</a>
						    </div>							                   
		                </li>
	
		            </ul>			
				</div>
			</div>	
		</div>
	</nav>
	<div class="container-fluid marco_principal">
		<div class="row">
			<div class="col rounded contenido"></div>
			
		</div>
	</div>
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bower_components/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/bower_components/fontawesome/svg-with-js/js/fontawesome-all.min.js}" ></script>
	<script th:src="@{/bower_components/GridColumnCarousel/dist/GridColumnCarousel.min.js}"></script>
	<script th:src="@{/js/escuelapp.js}"></script>
	<script th:src="@{/js/apariencia.js}"></script>
</body>
</html>